/**
 *
 *    Styles
 *
 */

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
    font-size: 15px;
}

/* theme colors */
:root {
	--main-theme: #1e8cbe;
}

/* top heading */
.heading {
    color: #aaa;
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 20px;
}
.heading_user {
    display: inline-block;
    float: right;
    font-size: 80%;
    text-align: right;
    transform: translateY(50%);
}

/* user_id */
.user_id {
    padding-bottom: 5px;
}
a.menu_link.log_out {
    font-weight: normal;
    padding-right: 0px;
}

/* main container */
.container {
    margin: 0 auto;
    position: relative;
    max-width: 920px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.wrapper {
    padding: 10px 10px 30px 10px;
}
.wrapper.login_box {
    border: 1px solid;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

/* menu bar */
.menu {
    margin: 0 auto;
    font-size: 80%;
}
a.menu_link {
    text-decoration: none;
    padding-right: 10px;
    color: var(--main-theme);
    font-weight: bold;
}
a.menu_link:hover {
    text-decoration: underline !important;
}

/* input sections */
.input_section {
    padding: 5px;
}
.input_heading {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    text-align: left;
}
.input_box {
    border: 1px solid #aaa;
    display: inline-block;
    padding: 5px;
    color: #aaa;
    min-width: 20px;
    font-size: 15px;
}
.input_box:focus {
    color: #000;
}
.input_box.login_box {
    width: 90%;
}
.input_box.client_box {
    width: 200px;
}
.input_box.no_edit{
    color: #000;
}
button {
    padding: 5px 10px 5px 10px;
    margin-left: 10px; /* space between buttons */
    background-color: #aaa;
    border-radius: 12px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}
button:hover {
    background-color: #ddd;
}
button:focus {
    outline: none;
}
button:active {
    background-color: #ddd;
    color: #aaa;
}
.button_center {
    margin: 0 auto;
    display: block;
}
#error {
    color: #f00;
    padding-left: 10px;
}

/* table */
table.list {
    border-spacing: 0px;
    overflow-x: auto;
    min-width: 400px;
    table-layout: fixed;
    border-collapse: collapse;
}
th {
    background-color: #aaa;
    padding: 5px;
    word-wrap: break-word;
    border: 1px solid #aaa;
}
td {
    padding: 5px;
    border: 1px solid #aaa;
    word-wrap: break-word;
}
.clear {
    background-color: transparent;
    border: 0px;
}
.tab {
    padding-left: 20px;
}
.tab2 {
    padding-left: 40px;
}
tr.no_border td {
    border: none;
    height: 20px;
}

/* Overlay */
.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    z-index: 1002;
    position: fixed;
}
.wrapper.audit_box {

    width: 450px;
    height: 300px;
	background-color: #fff;

    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
    padding: 0px;

}
.title_box {
    background-color: #aaa;
    line-height: 25px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.title {
    font-weight: bold;
}
.right {
    float: right;
}

/* jQuery UI override */
.ui-widget {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
}

/* footer */
.footer {
	padding: 10px;
	font-size: 70%;
	position: fixed;
    bottom: 0px;
	width: 100%;
    color: #aaa;
    background-color: #fff;
    z-index: 1001;
}
